/**************game-info*******************/
.game-info__list {
  padding: 12px;
  border-radius: 8px;
  background: #0A2B1D;
}
.game-info__item {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  font-family: Roboto;
  align-items: start;
  font-size: 16px;
  padding: 8px 0px;
}
.game-info__item:nth-child(1) {
  padding: 0px 0px 8px 0px;
}
.game-info__item:last-child {
  padding: 8px 0px 0px 0px;
}
.game-info__item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 767.98px) {
  .game-info__item {
    font-size: 14px;
  }
}
.game-info__left {
  text-align: left;
  font-weight: 700;
}
.game-info__right {
  text-align: right;
  font-weight: 400;
}

/************static-game*****************/
.static-game {
  border-radius: 8px;
  background: #0A2B1D;
}
.static-game__body {
  padding: 4px 0px;
}
.static-game__body:not(:last-child) {
  margin-bottom: 8px;
}
.static-game__title {
  font-weight: 700;
}
.static-game__title:not(:last-child) {
  margin-bottom: 4px;
}
@media (max-width: 767.98px) {
  .static-game__title {
    font-size: 14px;
  }
}
.static-game__label {
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 767.98px) {
  .static-game__label {
    font-size: 11px;
  }
}
.static-game__block {
  position: relative;
}
.static-game__block .bottom-info__button {
  transition: all 0.3s ease 0s;
  height: 0;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  padding: 0px;
  visibility: hidden;
}

.static-game__block {
  padding: 12px 12px 8px 12px;
}

.static-content__top {
  transition: all 0.3s ease 0s;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.static-content__top:not(:last-child) {
  margin-bottom: 8px;
}
.static-content__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.static-content__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0A2B1D;
  padding: 3.5px 5px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 400;
  background: #FFF;
}
.static-block__item {
  transition: all 0.6s ease 0s;
  padding: 10.5px;
  display: flex;
  font-size: 11px;
  align-items: center;
  font-weight: 700;
  justify-content: center;
  border-radius: 4px;
}
.static-block__item span:nth-child(1) {
  display: block;
}
.static-block__item span:nth-child(2) {
  display: none;
  font-size: 14px;
}
@media (hover: hover) {
  .static-block__item:hover {
    cursor: pointer;
  }
}

.static-block-left {
  background: #6FAA54;
}

.static-block-center {
  background: #115E2A;
}

.static-block-right {
  background: #018000;
}

.static-game__block._active .static-content__top {
  gap: 0px;
  border-radius: 8px;
  display: flex;
  width: 100%;
}
.static-game__block._active .bottom-info__button {
  margin-top: 16px;
  height: -moz-max-content;
  height: max-content;
  visibility: visible;
  opacity: 1;
  padding: 12px;
}
@media (max-width: 767.98px) {
  .static-game__block._active .bottom-info__button {
    padding: 7.5px;
  }
}
.static-game__block._active .static-block__item {
  border-radius: 0px;
  justify-content: start;
}
.static-game__block._active .static-block__item span:nth-child(1) {
  display: none;
}
.static-game__block._active .static-block__item span:nth-child(2) {
  display: block;
}
.static-game__block._active .static-block-left {
  border-radius: 8px 0px 0px 8px;
  width: 65%;
}
.static-game__block._active .static-block-center {
  width: 20%;
}
.static-game__block._active .static-block-right {
  width: 15%;
  border-radius: 0px 8px 8px 0px;
}

/**************game-result***************/
.game-result__list {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.game-result__bottom-button {
  gap: 4px;
  font-family: "Roboto Condensed";
  font-size: 14px;
  display: flex;
  align-items: center;
}

.result-item {
  display: grid;
  align-items: center;
  gap: 10px;
}
@media (min-width: 500.98px) {
  .result-item {
    grid-template-columns: 0.5fr 1.1fr 1.1fr 0.3fr;
  }
}
@media (min-width: 500.98px) and (max-width: 991.98px) {
  .result-item {
    grid-template-columns: 0.2fr 1.2fr 1.2fr 0.3fr;
  }
}
@media (max-width: 500.98px) {
  .result-item {
    display: flex;
    justify-content: space-between;
    gap: 6px;
  }
}
.result-item__position {
  text-align: left;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .result-item__position {
    font-size: 14px;
  }
}
.result-item__info {
  text-align: right;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .result-item__info {
    font-size: 14px;
  }
}

.pole__comand-name .comand-name__title {
  display: block !important;
}

.comand-name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.comand-name__title {
  text-overflow: ellipsis;
}
@media (max-width: 991.98px) {
  .comand-name__title {
    font-size: 14px;
  }
}
@media (max-width: 500.98px) {
  .comand-name__title {
    display: none;
  }
}

.comand-image__block {
  position: relative;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.comand-image__flag {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 12px;
  height: 12px;
}
.comand-image__comand {
  width: 24px;
  height: 24px;
}

/**************pole**********/
.pole__block {
  border-radius: 8px;
  background-color: #0A2B1D;
}

.pole__content {
  position: relative;
}

.pole__body {
  width: 100%;
  height: 558px;
  border-bottom: 1px solid #115E2A;
  border-top: 1px solid #115E2A;
}

.pole__rectanle-top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -1px;
  z-index: 2;
}
.pole__rectanle-bottom {
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  bottom: -1px;
}

.pole__rectangle-center {
  height: 2px;
  top: calc(50% - 1px);
  width: 100%;
  position: absolute;
  z-index: 2;
  display: block;
  background-color: #115E2A;
}

.pole__rectangle-circle {
  position: absolute;
  z-index: 2;
  height: 2px;
  top: calc(50% - 35px);
  width: 70px;
  height: 70px;
  left: calc(50% - 35px);
  position: absolute;
  display: block;
  border-radius: 50%;
  border: 2px solid #115E2A;
}

.pole-block-bottom {
  padding: 19px 12px 12px 12px;
}

.pole-block-top {
  padding: 12px 12px 19px 12px;
}

.pole__block-comand {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  background: #115E2A;
}
.pole-body__top,
.pole-body__bottom {
  position: relative;
  width: 80%;
  height: 50%;
  margin: 0px auto;
}

/***********************************/
.teams-list {
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.teams-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.teams-item__right {
  display: flex;
  align-items: center;
  gap: 23px;
}
@media (max-width: 767.98px) {
  .teams-item__right {
    gap: 13px;
  }
}
@media (max-width: 487.98px) {
  .teams-item__right {
    gap: 10px;
  }
}
.teams-list__item-border {
  padding: 8px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.teams-item__footer-text {
  font-size: 14px;
  font-weight: 400;
}

.team-player-name__name-red {
  font-size: 11px !important;
  color: #FF4848;
}

.team-player-name__name-yellow {
  font-size: 11px !important;
  color: #FFC61A;
}

.teams-item__info {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 2px;
}
.teams-item__height {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .teams-item__height {
    font-size: 11px;
  }
}
.teams-item__years {
  text-align: right;
  font-size: 16px;
}
@media (max-width: 767.98px) {
  .teams-item__years {
    font-size: 14px;
  }
}

.label-block {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6px;
}
.label-block__text {
  text-align: right;
  font-size: 11px;
  font-weight: 400;
}
.list-icon-teams {
  display: flex;
  gap: 16px;
  align-items: center;
}
@media (max-width: 991.98px) {
  .list-icon-teams {
    gap: 8px;
  }
}
@media (max-width: 767.98px) {
  .list-icon-teams {
    gap: 4px;
  }
}
.list-icon-teams__block {
  width: 16px;
  height: 16px;
  opacity: 0;
  visibility: hidden;
}
.list-icon-teams__block img {
  width: 16px;
  height: 16px;
}
@media (max-width: 487.98px) {
  .list-icon-teams__block img {
    width: 14px;
    height: 14px;
  }
}

.list-icon-teams__block._active {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=game-center.css.map */