


/**************game-info*******************/








.comand-name {

    // .comand-name__image
    display: flex;
    align-items: center;
    gap: 10px;
    &__image {
    }

    // .comand-name__title

    &__title {
        text-overflow: ellipsis;
        @media(max-width:991.98px){
            font-size: 14px;
        }
        @media(max-width:500.98px){
            display: none;
        }
    }
}
.comand-image {

    // .comand-image__block


    &__block {
        position: relative;
        max-width: fit-content;
    }

    // .comand-image__flag

    &__flag {
        position: absolute;
        right: -4px;
        top: -4px;
        width: 12px;
        height: 12px;
    }

    // .comand-image__comand

    &__comand {
        width: 24px;
        height: 24px;
    }
}




/***********************************/

.game-center__h2h {
    display: grid;
    padding: 16px 8px;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    @media(max-width:487.98px){
        padding: 8px;
    }
}

.h2h-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}

.block-image__block .block-image__number-player-yellow {
    background: #FFC61A !important;
    color: #0A2B1D;
}

.h2h-item__text {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    @media(max-width:767.98px){
        font-size: 11px;
    }
}
.h2h-green {
    color: #6FAA54;
}

.h2h-yellow {
    color: #FFC61A;
}
.h2h-opacity {
    opacity: 0.4;
}

.h2h-item-right {
    align-items: end;
    padding-right: 57px;
    text-align: right;
    @media(max-width:767.98px){
        padding-right: 12px;
    }
}
.h2h-item-left {
    padding-left: 57px;
    align-items: start;
    text-align: left;
    @media(max-width:767.98px){
        padding-left: 12px;
    }
}
.h2h-item-number {
    gap: 10px !important;
}

.game-center__h2h:not(:last-child) {
    border-bottom: 1px solid #60756C;
}
.match-comand-center {
    display: flex;
    width: 100%;
    justify-content: center !important;
    align-items: center !important;
}
.content-block__body-gc {
    padding: 12px;
    @media(max-width:767.98px){
        .champion-item__comand {
            width: 36px !important;
            height: 36px !important;
        }
        .champion-item__flag {
            width: 20px !important;
            height: 20px !important;
        }
    }

}

.team-span__date {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
    @media(max-width:767.98px){
        font-size: 11px;
    }
}
.team-span__label {
    color: rgba(255, 255, 255, 0.70);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    @media(max-width:767.98px){
        font-size: 11px;
    }
}

.team-span__name {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    @media(max-width:767.98px){
        font-size: 11px;
    }
}
.match-team__span-gc {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.team-span__block-gc{
    flex-direction: column;
    gap: 4px;
}
.mb-2 {
    margin-bottom: 8px;
}


.game-video {
    height: 300px;
    width: 100%;
    position: relative;
    background: #000;
    border-radius: 8px;
    video,
    iframe {
        top: 0px;
        left: 0;
        position: absolute;
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.team-span-game {
    .team-span__tire.red {
        font-size: 16px;
        font-weight: 400;
    }
    .team-span__number {
        span {
            font-size: 24px;
        }
        font-size: 14px;
    }
}


/********************************/
.calendario-events {

    display: flex;
    flex-direction: column;
    
    // .calendario-events__item-titles

    &__item-titles {
        background: rgba(255, 255, 255, 0.05);
        padding: 2px 10px;
        display: flex;
        justify-content: center;
        height: 24px;
        gap: 10px;
        align-items: center;
        &:not(:last-child) {
            border-bottom:1px solid rgba(96, 117, 108, 1);
        }
        &:last-child {
            border-radius:0px 0px 8px 8px;
        }
    }
}
.events-titles {

    // .events-titles__item-left

    &__item-left,
    &__item-right{
        width: 40px;
        color:  #FF4848;
        text-align: center;
    }

    // .events-titles__item-center

    &__item-center {
        width: 100px;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
    }

    // .events-titles__item-right
}

.calendario-events__block {
    padding: 4px 0px;
    &:not(:last-child) {
        border-bottom:1px solid rgba(96, 117, 108, 1);
    }
    &:last-child {
        border-radius:0px 0px 8px 8px;
    }
}

.events-block {
    
    // .events-block__center

    &__center {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
        @media(max-width:767.98px){
            gap: 8px;
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}
.events-block-center {

    // .events-block-center__number
    min-height: 30px;
    &__number {
        width: 40px;
        text-align: center;
        font-size: 16px;
        @media(max-width:767.98px){
            font-size: 11px;
            width: 25px;
        }

    }
}

.events-block__element {
    padding: 4px 12px;
    justify-content: space-between;
    gap: 10px;
    display: flex;
    align-items: center;
    
}


.events-block__item {
    flex: 0 1 40%;
}
.events-block__center {
    flex: 0 1 20%;
}
.events-block__item-left {
    .team-player-name {
        text-align: left;
    }
    
}
.events-block__item-right {
    display: flex;
    justify-content: end;
    .team-player-name__player-name {
        text-align: right;
    }
    .team-player-name {
        text-align: right;
    }
    .team-player-name__comand-name {
        text-align: right !important;
    }
    .team-player-name {
        align-items: end;
    }
}
.events-border-bottom {
    border-bottom:#60756C 1px solid;
}

.text-10 {
    font-size: 10px !important; 
}

.events-block-center__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.70);
    @media(max-width:767.98px){
        font-size: 11px;
    }
}

.text-12 {
    font-size: 12px !important;
}
.secondary-active {
    color: #EEFFA5 !important;
}

.events-block {

    // .events-block__gols

    &__gols {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}
.events-gols {

    // .events-gols__image

    &__image {
        width: 16px;
        height: 16px;
    }

    // .events-gols__items

    &__items {
        display: flex;
        gap: 4px;
        align-items: center;
        font-size: 12px;
        
    }
}
.block-image__block-bg-secondary {
    background-color: #EEFFA5 !important;
    color: #0A2B1D !important;
}

.static-game__text {
    
    font-size: 12px;
    font-style: normal;
    margin-bottom: 4px;
}

.static-game__item {
    &:not(:last-child){
    margin-bottom:12px;
    }
    .static-game__button{
        border-radius:4px;
        padding: 12px;
        color:#018000;
        background: #fff;
        @media(hover:hover) {
            &:hover {
                background:#018000;
                color:#fff;
            }
        }
        
        &.disabled {
            opacity: 0.3;
        }
        @media(max-width:767.98px){
            width: 100%;
            padding: 7.5px;
        }
    }
}
.static-game__item-start {
    display: flex;
    justify-content: start;
}

.game-center__h2h-static{
    border-bottom:none;
}