


.game-result {

    // .game-result__top
    
    &__top {
        
    }

    // .game-result__list

    &__list {
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    // .game-result__item

    &__item {
    }

    // .game-result__bottom

    &__bottom {
        
    }
}
.result-item__block-left {
    display: flex;
    gap: 16px;
    flex: 0 1 50%;
    justify-self: start;
    align-items: center;
}

.result-item__block-right {
    align-items: center;
    flex: 0 1 50%;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.result-item {

    // .result-item__position
    display: flex;
    align-items: center;
    gap: 10px;

    @media(max-width:500.98px){
        display: flex;
        justify-content: space-between;
        gap: 6px;
    }
    &__position {
        text-align: left;
        font-weight: 700;
        @media(max-width:991.98px){
            font-size: 14px;
        }
    }

    // .result-item__comand-name

    &__comand-name {
    }
    // .result-item__info

    &__info {
        text-align: right;
        font-weight: 700;
        @media(max-width:991.98px){
            font-size: 14px;
        }
    }


}
.team-player-name__player-name {
    @media(max-width:767.98px){
        white-space: wrap;
        font-size: 11px !important;
    }
}
.result-list__block-win {
    background:  #EEFFA5;
}
.result-list__block-loss {
    background-color: #FF4848;
}
.result-list__block-draw {
    background: rgba(255, 255, 255, 0.50);
}

.result-item__block-right {
    .result-list__block-win {
        background:  #6FAA54;
    }
    .result-list__block-loss {
        background-color: #FFC61A;
    }
    .result-list__block-draw {
        background: #FF4848;
    }
}