.button-bottom-green {
    display: flex;
    align-items: center;
    color:#6FAA54 !important;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    font-size: 14px;
    @media(hover:hover) {
        &:hover {
            cursor: pointer;
            color:#6FAA54;
        }
    }
    @media(max-width:640.98px){
        font-size: 12px;
    }
}




.match-block__item {
    &:not(:last-child) {
        border-bottom:1px solid #60756C;
    }
}
.match-block {

    // .match-block__body
    // .match-block__top

    &__top {
        border-bottom:1px solid #60756C;
        background: rgba(17, 94, 42, 0.15);
        padding: 4px 10px;
        color:  #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        line-height: 1.2; /* 14.4px */
    }
    &__body {
        display: flex;
        
    }

    // .match-block__time


    &__time {
        min-height: 100%;
        justify-content: center;
        width: 100px;
        display: flex;
        font-size: 10px;
        flex-direction: column;
        border-right: #60756C 1px solid;
        align-items: center;
        @media(max-width:767.98px){
            width: 80px;
        }
        .canal__image {
            @media(max-width:767.98px){
                height: 18px !important;
                width: 22px !important;
            }
        }
    }

    // .match-block__content


    &__content {
        justify-content: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        //border-left: #60756C 1px solid;
    }

    // .match-block__team

    &__team {
        
        padding: 4px 0px ;
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;
        @media(max-width:487.98px){
            padding: 8px 0px;
        }
    }

}


.match-comand {

    // .match-comand__text
    //display: flex;
    align-items: center;
    gap: 4px;
    &__text {
        font-size: 14px;
        @media(max-width:567.98px){
            font-size: 11px;
        }
    }

    // .match-comand__image

    &__image {
        width: 34px;
        height: 34px;
        @media(max-width:767.98px){
            width: 24px;
            height: 24px;
        }
    }

}

.match-comand-right {
    text-align: left;
    display: flex;
    justify-content: start;
    flex: 0 1 40%;
}
.match-comand-left {
    display: flex;
    text-align: right;
    justify-content: end;
    flex: 0 1 40%;
}



.main-content__header {
    &:not(:last-child){
        margin-bottom:12px;
        @media(max-width:487.98px){
            margin-bottom: 8px;
        }
    }
}
.main-content__breadcrumbs {
    color: rgba(255, 255, 255, 0.50);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    @media(max-width:487.98px){
        font-size: 11px;
    }
}


/***************/

.cof-team {
    border-top: #60756C 1px solid;
    padding: 5px 12px;
    display: flex;
    font-family: Roboto;
    gap: 10px;
    font-weight: 400;
    font-size: 12px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%), rgba(17, 94, 42, 0.35);
    span, div {
        gap: 4px;
        flex: 0 1 33.333%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}


/*******************************/

.match-foot {

    // .match-foot__item
    border-top: #60756C 1px solid;
    display: flex;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%), rgba(17, 94, 42, 0.35);
    &__item {
        display: flex;
        padding: 4px;
        gap: 1px;
        flex-wrap: wrap;
        flex: 0 1 40%;
    }

    // .match-foot__block

    &__block {
        font-size: 12px;
        font-weight: 400;
        display: flex;
        span {
            color:  #6FAA54;
        }
        color:#fff;
        @media(max-width:767.98px){
            font-size: 10px;
        }
    }
}

.match-team__span {
    display: flex;
    justify-content: center;
    flex: 0 1 20%;
}
.match-foot__span {
    display: flex;
    justify-content: end;
    flex: 0 1 10%;
    div {
        width: 1px;
        height: 100%;
        background-color: #60756C;
    }
}

.match-team {

    // .match-team__span

    &__span {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.team-span {
    font-size: 12px;
    font-family: Roboto;
   
    // .team-span__block
    font-weight: 400;
    @media(max-width:767.98px){
        font-size: 10px;
    }
   
    &__block {
        color:#fff;
        display: flex;
        align-items: center;
        gap: 4px;
        &:not(:last-child){
            margin-bottom:4px;
        }
        &.red {
            color:#FF4848 !important;
        }
    }

    // .team-span__number

    &__number {
        display: flex;
        gap: 1px;
        align-items: center;
        span {
            font-weight: 700;
            font-size: 18px;
            @media(max-width:767.98px){
                font-size: 16px;
            }
        }
    }

    // .team-span__text

    &__text {
        color: rgba(255, 255, 255, 0.70);
        font-weight: 400;
    }
}

.team-span__number-gol {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 2px;
    span {
        width: 4px;
        height: 4px;
        display: block;
        background:#FF4848;
    }
}

.canal__final {
    font-size: 14px;
    @media(max-width:767.98px){
        font-size: 11px;
    }
}
.canal__text {
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.2; /* 13.2px */
}
.canal__time-red {
    color:#FF4848 !important;
}

.team-span-red {

    .team-span__number {
        color:#fff !important;
        span {
            color:#FF4848 !important;
        }
    }
    .team-span__block {
        color:#FF4848 !important;
    }
}

/**********************/



