
.main-content__header {
    &:not(:last-child){
        margin-bottom:12px;
        @media(max-width:487.98px){
            margin-bottom: 8px;
        }
    }
}
.content-header {
    // .content-header__bottom
    &__bottom {
        padding: 8px 0px;
        gap: 8px;
        @media(max-width:640.98px){
            padding: 6px 0px;
        }
    }
}

.content-header__bottom,
.content-header__top {
    display: flex;
    justify-content: space-between;
}
.content-header {
    padding: 0px 12px;
    // .content-header__top
    border-radius:  8px;
    background:  #0A2B1D;

}

.top-header {
    // .top-header__button
    padding: 12px 0px;
    border-bottom:1px solid rgba(255, 255, 255, 0.20);
    @media(max-width:640.98px){
        padding: 10px 0px;
    }
    &__button {
        display: flex;
        align-items: center;
        gap: 8px;
        @media(max-width:640.98px){
            font-size: 14px;
        }
        path {
            transition: all 0.3s ease 0s;
        }
        @media(hover:hover) {
            &:hover {
                cursor: pointer;
                color:#6FAA54;
                path {
                    stroke: #6FAA54;
                }
            }
        }
    }
}
.top-header__button,
.header-select__button,
.header-select__option  {
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    position: relative;
}

.header-select {

    // .header-select__button
        position: relative;
    &__button {
        font-size: 20px;
        @media(max-width:640.98px){
            font-size: 14px;
            span {
                display: none;
            }
        }
        path {
            transition: all 0.3s ease 0s;
        }
        @media(hover:hover) {
            &:hover {
                color:#FF4848;
                path {
                    fill: #FF4848;
                }
            }
        }
    }

    // .header-select__block

    &__block {
        margin-top: 3px;
        max-width: max-content;
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 12px;
        background-color: #0A2B1D;
        position: absolute;
        border-radius:6px;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        box-shadow: 3px 3px 3px #57724b, -3px -3px 3px #57724b;
        @media(max-width:640.98px){
            width: 60px;
            right: 0;
        }
    }

    &__option {
        white-space: nowrap;
        font-size: 18px;
        @media(max-width:640.98px){
            font-size: 14px;
            span {
                display: none;
            }
        }
        transition: all 0.3s ease 0s;
        @media(hover:hover) {
            &:hover {
                cursor: pointer;
                color:#FF4848;
            }
        }
    }
}

.header-select.active {
    .header-select__block{
        visibility: visible;
        opacity: 1;
        z-index: 30;
    }
    .header-select__button {
        color:#FF4848;
        path {
            fill: #FF4848;
        }
    }
}

.botton-header {

    // .botton-header__buttons

    &__buttons {
        display: flex;
        &:not(:first-child) {
            gap: 8px;
        }
    }
}

.button-border {
    text-transform: uppercase;
    padding: 10px 12px;
    border-bottom: 1px solid  transparent;
    @media(max-width:640.98px){
        font-size: 11px;
    }
}

.button-gr.active {
    &.active {
        color:#6FAA54;
        border-bottom: 1px solid  #6FAA54;
    }
}
.button-red.active {
    &.active {
        color:#FF4848;
        border-bottom: 1px solid  #FF4848;
    }
}

.button-off {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    &::after {
        display: block;
        content:url("../img/main/content/icon/notification-off.webp");
    }
    &.active {
        &::after {
            display: block;
            content:url("../img/main/content/icon/notification.webp");
        }
    }
}

[data-off] {
    transition: all 0.4s ease 0s;
    &::after {
        display: block;
        content:url("../img/main/content/icon/notification-off.webp");
    }
    &.active {
        &::after {
            content:url("../img/main/content/icon/notification-green.webp");
        }
    }
}

.button-green.active {
    opacity: 1;
}
.button-green {
    opacity: 0.7;
}

.button-green {
    border-radius: 8px;
    font-size: 14px;
    background:  #115E2A;
    padding: 6.5px 12px;
    @media(max-width:640.98px){
        font-size: 11px;
        padding: 2px 12px;
    }
}
.main-content__breadcrumbs {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    @media(max-width:487.98px){
        font-size: 11px;
    }
}
