
.reclama-block-1 {

    // .reclama-block-1__body

    &__body {
        border-radius: 8px;
        background:  #0A2B1D;
        line-height: 1.2; /* 12px */
        padding: 9px 12px;
    }

    // .reclama-block-1__label

    &__label {
        gap: 8px;
        font-size: 10px;
        font-weight: 400;
        &:not(:last-child){
        margin-bottom:6px;
        }
    }

    // .reclama-block-1__title

    &__title {
        text-align: center;
        font-weight: 500;
        &:not(:last-child){
            margin-bottom:8px;
        }
    }

}
.reclama-button,
.reclama-block-1__title {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
}
.reclama-button {
    border-radius: 4px;
    padding: 7.5px 12px;
    width: 100%;
    line-height: 1;
    background: #115E2A;
    @media(hover:hover) {
        &:hover {
            cursor: pointer;
            color:#fff;
            background-color:#018000;
        }
    }
}
