.result-list {
    display: flex;
    gap: 8px;
    @media(max-width:487.98px){
        gap: 2px;
    }
}
.result-list__block {
    width: 24px;
    height: 24px;
    padding: 2px;
    color: #0A2B1D;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
}
.result-list-average {
    gap: 2px !important;
}
.result-list-average .result-list__block{
    width: 16px;
    height: 16px;
}


