

@import '../../node_modules/air-datepicker/air-datepicker.css';

@import "header";
@import "variables";
@import "aside";
@import "breadcrumbs";
@import "calendar";
@import "event";
@import "tabs-triggers";
@import "result-list";
@import "slider-buttons";
@import "counter-page";
@import "champion";
@import "reclama";
@import "main-header-block";
@import "reset";


/********Dashboard***************/
@import "dashboard";
@import "modals-dashboard";
@import "table";
@import "league-match-block";
@import "comand-result";
@import "table";

/********Game Center***************/

@import "game-center";
@import "static-game-block";
@import "player-and-pole";
@import "game-center-lineups";
@import "game-result-list";


/*******************************************/
.block-info-table {
    flex-direction: column;
    width: 100%;
    gap: 4px;
    .table-info  {
        padding: 4px;
    }
}
.block-info-table,
.button-bottom-green,
.game-result__bottom-button,
.result-list__block,
.reclama-block-1__label,
.reclama-button,
.modals__wrapper,
.comand-modal__time,
.player__minute {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content__items {
    gap: 12px;
    @media(max-width:640.98px){
        gap: 8px;
    }
}
.main-content__items,
.bottom-info,
.bottom-info__items,
.bottom-info__item,
.match-block__time {
    display: flex;
    flex-direction: column;
}
.dashboard__layout-column-16 {
    gap: 16px;
}
.bottom-info__button,
.info-item__title,
.bottom-info__title,
.item-event__left {
    text-transform: uppercase;
}

.bottom-info__label,
.bottom-info__button,
.info-item__title,
.button-bottom-green,
.slider-button,
.reclama-button,
.reclama-block-1__title,
.select__button {
    font-size: 14px;
}
.info-item__title,
.game-result__bottom-button,
.bottom-info__button,
.bottom-info__title {
    font-family: "Roboto Condensed";
}



.block-grid-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 8px;
    row-gap: 12px;
    @media(max-width:487.98px){
        grid-template-columns: repeat(1,1fr);
    }
}
.button-bottom-green {
    color:#6FAA54 !important;
    text-decoration: none !important;
    text-transform: uppercase;
    @media(hover:hover) {
        &:hover {
            cursor: pointer;
            color:#6FAA54;
        }
    }
    @media(max-width:640.98px){
        font-size: 12px;
    }
}
.comand__image {
    position: relative;
    z-index: 2;
}
/*****************/
[class*=_container] {
    overflow: hidden;
	max-width: 1192px;
	margin: 0px auto;
	height: 100%;
	padding: 0px 24px;
    @media(max-width:487.98px){
        padding: 0px 16px;
    }
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
    padding-bottom: 50px;
}

/*****************************/
.anim-bottom{
    opacity: 0;
    transform: translateY(100%);
}
.anim-bottom._start-anim{
    opacity: 1;
    transform: translateY(0);
}

/*******************************/


.match-block__time {
    gap: 3px;
}

/************Layout Dashboard Page**********************/
.dashboard__layout {
    width: 100%;
    display: flex;
}

    .dashboard__layout {
        @media(max-width:1200px) {
            display: flex;
            flex-direction: column;
        }
        
    }
    .dashboard__layout-column {
        gap: 24px;
    }


.dashboard__layout-left,
.dashboard__layout-right {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    @media(max-width:1200px){
        width: 100% !important;
    }
}
.dashboard__layout-left {
    width: 57.209302%; /* 492/860 */
    margin-right: 24px;
}

.dashboard__layout-right {
    width: 39.54023%; /* 344/870 */
}

.dashboard__layout-right-none {
    @media(max-width:1200px){
        display: none;
    }
}

/************Main block Layout Home page***********************/
/****************************/
/**********************************/
.main-block {
    // .main-block__body
    &__body {
        display: flex;
        justify-content: space-between;
    }
    // .main-block__aside
    &__aside {
        flex: 0 1 22.398601%; /* 302/1144 */
        @media(max-width:1100.98px){
            flex: 0 1 18.398601%;
        }
        @media(min-width:991.98px){
            padding-right: 24px;
        }
        @media(max-width:991.98px){
            @media(min-width:767.98px){
                padding-right: 12px;
            }
        }
        @media(max-width:767.98px){
            position: fixed;
            width: 100%;
            top: 0px;
            right: -120%;
            transition: all 0.3s ease 0s;
            height: 100%;
            z-index: 50;
            display: flex;
            justify-content: end;
            background-color: rgba(0, 0, 0, 0.50);
            &._active {
                right: 0;
            }
        }
    }

    .aside__menu {
        @media(max-width:767.98px){
            width: 100%;
            padding: 67px 34px 20px 24px;
            overflow: auto;
            background-image: url("@img/bg.webp") ;
            height: 100%;
            background-size: cover;
            &::-webkit-scrollbar {
                width: 5px;
                background-color: #fff;
                height: 100%;
            }
            
            &::-webkit-scrollbar-thumb {
                background: #6FAA54;
                border-radius: 5px;
            }
        }
        
    }
    // .main-block__content

    &__content {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media(min-width:767.98px){
            flex: 0 1 76.202797%; /* 826/1144 */
        }
        @media(max-width:767.98px){
            width: 100%;
        }
    }
}

/**********************************/
/**********************************/
/**********************************/





.bottom-info,
.bottom-info__items {
    gap: 24px;
}

.bottom-info {
    // 

    &__title {
        font-size: 20px;
        @media(max-width:487.98px){
            font-size: 14px;
        }
    }

    // .bottom-info__items
    &__items {
    }

    // .bottom-info__item

    &__item {
        gap: 16px;
    }

    // .bottom-info__label

    &__label {
    
    }

    // .bottom-info__buttons

    &__buttons {
        @media(max-width:767.98px){
            width: 100%;
        }
    }

    // .bottom-info__button

    &__button {

    }
}

.bottom-info__button {
    padding: 12px;
    color:#018000;
    background: #fff;
    @media(hover:hover) {
        &:hover {
            background:#018000;
            color:#fff;
        }
    }
    @media(max-width:767.98px){
        width: 100%;
    }
    &.disabled {
        opacity: 0.3;
    }
    &.button-min {
        border-radius: 4px;
        padding: 6.5px 12px;
    }
}
.bottom-info__white {
    background:none;
    border: 1px solid #FFF;
    &.disabled {
        opacity: 0.3;
    }
    &.button-min {
        border-radius: 4px;
        padding: 6.5px 12px;
    }
}

.info-item {

    // .info-item__block

    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 12px;
        border-radius:  8px;
        background:#0A2B1D;
        gap: 16px;
    }

    // .info-item__body

    &__body {
    }

    // .info-item__title

    &__title {
    
        &:not(:last-child){
            margin-bottom:4px;
        }
    }

    // .info-item__text

    &__text {
        font-size: 11px;
        font-weight: 400;
        span {
            font-weight: 700;
        }
    }
}


/*************************/




.game-result__bottom-button {
    gap: 4px;
    font-size: 14px;
}


.game-info {

    // .game-info__list

    &__list {
        padding: 12px;
        border-radius:  8px;
        background: #0A2B1D;
    }

    // .game-info__item

    &__item {
        gap: 10px;
        display: grid;
        grid-template-columns:repeat(2, 1fr) ;
        justify-content: space-between;
        align-items: start;
        padding: 8px 0px;
        &:nth-child(1) {
            padding: 0px 0px 8px 0px;
        }
        &:last-child {
            padding: 8px 0px 0px 0px;
        }
        &:not(:last-child){
            border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        }
        @media(max-width:767.98px){
            font-size: 14px;
        }
    }

    // .game-info__left

    &__left {
        text-align: left;
    }

    // .game-info__right

    &__right {
        text-align: right;
        font-weight: 400;
    }
}

.team-map {
    width: 100%;
    height: 100%;
    @media(max-width:1200px){
        iframe {
            width: 100%;
        }
    }
}




















