.table {

    // .table__title

    &__title {
        padding: 16px 0px;
    }

    // .table__items

    &__items {
    }
    // .table__left
    &__left {
        max-width: 469px;
        display: flex;
        gap: 16px;
        flex-direction: column;
    }
    // .table__body
    &__body {
        border-radius: 8px ;
        background: #0A2B1D;
    }

    // .table__right

    &__right {
    }
}
.table-body {

    // .table-body__header

    &__header {
        padding: 6.5px 12px;
        border-bottom: 1px solid  #60756C;
    }

    // .table-body__bottom

    &__bottom {
        
    }
}
.table-bottom {

    // .table-bottom__list

    &__list {
        display: flex;
        flex-direction: column;
    }

    // .table-bottom__item

    &__item {
        border-top: 1px solid  #60756C;
        padding: 5px 12px;
    }
}
.table-info {

    // .table-info__span
    display: flex;
    align-items: center;
    gap: 3px;
    &__span {
        min-width: 12px;
        min-height: 12px;
        scale: 1;
        border-radius:50%;
        display: block;
    }

    // .table-info__text

    &__text {
        font-size: 12px;
        font-weight: 400;
        @media(max-width:767.98px){
            font-size: 10px;
        }
    }
}
.table-info-green .table-info__span{
    background-color: #6FAA54;
}
.table-info-red .table-info__span{
    background-color: #FF4848;
}
.table-info-yellow .table-info__span{
    background-color: #FFC61A;
}

.table-block__col-green {
    color: #6FAA54;
}

.table-block__col-red {
    color: #FF4848;
}

.table-block__col-yellow {
    color: #FFC61A;
}

/************************************/
.table-block {
    width: 100%;
    // .table-block__row
    font-size: 12px;
    font-weight: 400;
    @media(max-width:767.98px){
        font-size: 10px;
    }

    tr {
        height: 24px;
    }
    
    thead {
        border-radius: 8px 8px 0px 0px;
        border-bottom: 1px solid  #60756C;
        background:  #0A2B1D;
        text-align: center;
    }
    &__row {
        
        transition: all 0.3s ease 0s;
        &:nth-child(even){
            background: rgba(255, 255, 255, 0.05);
        }
        &:nth-child(odd){
            background: rgba(255, 255, 255, 0.10);
        }
        &._active {
            background-color: #6FAA54;
            @media(hover:hover) {
                &:hover {
                cursor: pointer;
                background-color: #6FAA54;
                }
            }
        }
        @media(hover:hover) {
            &:hover {
                cursor: pointer;
                background-color: #284919;
            }
        }
    }

    // .table-block__col-number

    &__col-number {
        border-right: 1px solid  #60756C;
    }


    // .table-block__col-team

    &__col-team {
        border-right: 1px solid  #60756C;
    }
    &__col-result {
        transition: all 0.3s ease 0s;
        padding: 4px 8px 4px 3px;
    }
    // .table-block__list

    &__list {
    }
    .table-block__col-no-opacity {
        color:#fff !important;
        border-right: 1px solid  #60756C;
    }
    .table-block__col {
        padding: 4px 2.5px ;
        color: rgba(255, 255, 255, 0.50);
        text-align: center;
        font-family: Roboto;
        font-weight: 400;
    }
}

.table-block__row._active {
    .table-block__col-number {
        color:#fff;
    }
}

.table-block-scroll {
    overflow-x: auto;
    max-width: 100%; 
    &::-webkit-scrollbar {
        width: 100%;
        background-color: #fff;
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: #6FAA54;
        height: 4px;
    }
}

.table-block .table-block__row td:nth-child(1) {
    span {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-width: 28px;
        height: 24px;
        padding: 3px 4px ;
        @media(max-width:487.98px){
            min-width: 25px;
        }
    }
}
.table-block__col-team .comand{
    transition: all 0.3s ease 0s;
    min-width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: start;
    z-index: 3;
    position: relative;
    gap: 2px;
    .comand__image-block {
        padding: 4px;
    }
    background: #2e4b3e;
}


.comand__image {
    position: relative;
    z-index: 2;
}

.table-block .table-block__row:nth-child(even) td:nth-child(2) {
    .comand,
    .comand__image-block {
        background: #224034;
    }
}
.table-block .table-block__row:nth-child(odd) td:nth-child(2) {
    .comand,
    .comand__image-block {
        background: #2e4b3e;
    }
}



.table-block .table-block__row:nth-child(even) td{
    span {
        background: #224034;
    }
}
.table-block .table-block__row:nth-child(odd) td{
    span {
        background: #2e4b3e;
    }
}

.table-block .table-block__row td:nth-child(1) {
    position: sticky;
    left: 0;
    z-index: 4;
}
.table-block .table-block__row td:nth-child(2) .comand__image-block{
    position: sticky;
    left: 25px;
    z-index: 1;
}
.table-block .table-block__row-top td:nth-child(1) {
    span {
        background: #0A2B1D;
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-width: 28px;
        height: 24px;
        padding: 3px 4px ;
        @media(max-width:487.98px){
            min-width: 25px;
        }
    }
    position: sticky;
    left: 0;
    z-index: 4;
}



/************************************/


















.table-right {
}


