.game-tabs {
    display: grid;
    position: relative;
    @media(max-width:330.98px){
        overflow-x: auto;
    }
}

.game-tabs__span {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    transition: all 0.3s ease 0s;
    background: #6FAA54;
}

.game-tabs {
    // .game-tabs__button
    &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10.5px;
        font-weight: 700;
        transition: all 0.3s ease 0s;
        border-bottom:1px solid #0A2B1D;
        @media(max-width:991.98px){
            font-size: 14px;
        }
        @media(max-width:767.98px){
            padding: 9.5px;
            font-size: 12px;
        }
        @media(max-width:487.98px){
            font-size: 11px;
        }
        &.active {
            transition: all 0.3s ease 0s;
            color:#6FAA54;
           // border-bottom:1px solid #6FAA54;
            @media(hover:hover) {
                &:hover {
                    cursor: inherit;
                    color:#6FAA54;
                    //border-bottom:1px solid #6FAA54;
                }
            }
        }
        @media(hover:hover) {
            &:hover {
                cursor: pointer;
                color:#81c2a6;
                //border-bottom:1px solid #81c2a6;
            }
        }
    }
}

.game-tabs__button-image {
    padding: 4px;
}

[data-tabs-content] {
    display: none;
}
[data-tabs-content]._active {
    display: flex;
    width: 100%;
}